In [1]:
lst_list1 = [16,4,6,25,24]
lst_list2 = []
lst_list3 = list()
print(lst_list1)
print(lst_list2)
print(lst_list3)

[16, 4, 6, 25, 24]
[]
[]

In [2]:
print(lst_list1[0])

16

In [3]:
for x in range(0,5):
    print("lst_list[",x,"] = ",lst_list1[x])

lst_list[ 0 ] =  16
lst_list[ 1 ] =  4
lst_list[ 2 ] =  6
lst_list[ 3 ] =  25
lst_list[ 4 ] =  24

In [4]:
lst_list1.append(53) #will add the value at the end of list
lst_list2.append(99)
print(lst_list1)
print(lst_list2)

[16, 4, 6, 25, 24, 53]
[99]

In [5]:
lst_list1.sort() #ascending default
lst_list1.sort(reverse=True) #descending

In [6]:
lst_list1[2]=42
print(lst_list1)

[53, 25, 42, 16, 6, 4]

In [7]:
lst_list1.insert(3,20) #3 is the location where to insert, 20 is what you will add
lst_list2.extend(lst_list1) #extend will connect both list
print(lst_list1)
print(lst_list2)

[53, 25, 42, 20, 16, 6, 4]
[99, 53, 25, 42, 20, 16, 6, 4]

In [8]:
lst_list1.pop()
print(lst_list1)
lst_list1.pop(0) #index is the location
print(lst_list1)

[53, 25, 42, 20, 16, 6]
[25, 42, 20, 16, 6]

In [9]:
lst_list2.clear() #delete values
print(lst_list2)

[]

In [10]:
del lst_list1[0] #only delete the value at index location 
print(lst_list1)
del lst_list1 #delete whole list
print(lst_list1)

[42, 20, 16, 6]

NameError: name 'lst_list1' is not defined

In [11]:
list1=list(input('Enter value to your list '))

Enter value to your list 12

In [12]:
print(list1)

['1', '2']

In [13]:
list_number = []
for i in range(0,5):
    num = int(input("input number: "))
    list_number.append(num)
print(list_number)

input number: 1
input number: 2
input number: 3
input number: 4
input number: 5
[1, 2, 3, 4, 5]

In [14]:
#TUPLE
#can't add to tuple list
#use ()
tuple1=(1.5,2,'a','abc')
tuple2=()
tuple3=tuple()
print(tuple1)
print(tuple2)
print(tuple3)

(1.5, 2, 'a', 'abc')
()
()

In [15]:
print(tuple1[0])

1.5

In [20]:
tuple_try=tuple(input("enter value to your tuple: "))

enter value to your tuple: 5

In [21]:
print(tuple_try)

('5',)

In [27]:
#SET 
#use {}
#unorder
set1={1.5,2,345,24,11,16}
set2={'hi'}
print(set1)

{16, 1.5, 2, 24, 345, 11}

In [28]:
set1.add('dc')
set2.add('marvel')
print(set1)
print(set2)

{16, 1.5, 2, 'dc', 24, 345, 11}
{'hi', 'marvel'}

In [29]:
#remove is particular
set1.remove('dc')
set2.remove('hi')
print(set1)
print(set2)

{16, 1.5, 2, 24, 345, 11}
{'marvel'}

In [30]:
set1.pop() #pop only delete the 1st value
print(set1)

{1.5, 2, 24, 345, 11}

In [31]:
set1.clear() #empty the set
print(set1)

set()

In [32]:
set1.add(4) #add value
print(set1)

{4}

In [33]:
del set1 #delete whole set
print(set1)

NameError: name 'set1' is not defined

In [37]:
#DICTIONARY

d1={'name':'boruto','age':10,'address':'konuha','name':'naruto'}
print(d1)
d1.items()
d1.values()

{'name': 'naruto', 'age': 10, 'address': 'konuha'}

dict_values(['naruto', 10, 'konuha'])

In [38]:
dictionary_name1={}
dictionary_name2=dict()
d1={'name':'boruto','age':10,'address':'konuha','name':'naruto'}
print(d1)
d1.items()
d1.values()

{'name': 'naruto', 'age': 10, 'address': 'konuha'}

dict_values(['naruto', 10, 'konuha'])

In [43]:
d2={}
x=range(0,3)
for y in x:
    a=input("Enter index key: ")
    b=input("Enter value for index: ")
    d2.update({a:b})

Enter index key: ln
Enter value for index: uzumaki
Enter index key: fn
Enter value for index: naruto
Enter index key: age
Enter value for index: 22

In [44]:
print(d2)

{'ln': 'uzumaki', 'fn': 'naruto', 'age': '22'}

In [45]:
dt1=['last name','first name']
dt2=['uzumaki','naruto']
dict2=dict(zip(dt1,dt2))
print(dict2)

{'last name': 'uzumaki', 'first name': 'naruto'}